<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank You for Using CahsFLo.</h1>
    <p>
      New Transaction Created. Details are:
    </p>
    <ul>
      <li>Title: <%= @transaction.title %></li>
      <li>Amount: <%= @transaction.amount %></li>
      <li>Payer Name: <%= @transaction.payer_name %></li>
      <li>Receiver NameL: <%= @transaction.receiver_name %></li>
    </ul>

    
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>