<h1 class="text-center"> Expense Categories </h1>

<% @user_categories.each do |user_category| %>
  <div class="d-flex justify-content-around"> 
    <%= user_category.name %>
    <%= link_to "Show Category Details", user_category_expense_categories_path(user_category), class:"btn btn-primary" %>
  </div>
  <div class="container d-flex">
    <% @expense_categories[user_category.id].each do |expense_category| %>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center"> <%= expense_category.name %> </h5>
          <% @expense_sub_categories[expense_category.id].each do |expense_sub_category| %>
            <p class="card-text"> <%= expense_sub_category.name %> </p>
          <% end %>
        </div>
      </div>  
    <% end %>
  </div>
<% end %>