<%= render partial: 'shared/heading', locals: { heading: "New Transaction" } %>

<div class="d-flex justify-content-around mb-4">
    <% @transaction_types&.each do |type| %>
      <%= link_to type.name, new_transaction_path(type: type.name), class:"btn btn-primary btn-rounded btn-lg shadow" %>
    <% end %>
</div>

<% if @valid_type  %>
  <%= render partial:'form' , locals:{ transaction: @transaction, type: @valid_type }  %>
<% else %>
  <h1>Not a Right Type.</h1>
<% end  %>